{% extends "base.html" %}

{% block title %}Suspicious User Behavior{% endblock %}

{% block content %}
<div class="row" >
    <h3>Details</h3>
    <dl class="dl-horizontal">

      <dt>Name:</dt>
      <dd>{{ suspicious_behavior.name}}</a></dd>
      <dt>Description:</dt>
      <dd>{{suspicious_behavior.description}}</dd>
      <dt>Host:</dt>
      <dd>{{ suspicious_behavior.source}}</a></dd>
      <dt>Unique Hosts</dt>
      <dd>{{ unique_hosts}}</a></dd>
      <dt>Start Time</dt>
      <dd>{{suspicious_behavior.start }}</dd>
      <dt>Finish Time</dt>
      <dd>{{ suspicious_behavior.end}}</dd>

    </dl>
</div>

<div class="panel-group" id="accordion">

    {% if auth_succ_remote|length > 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Remote Successfull Authentication Events</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">

    <table id="remote_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Time</th>
        <th>Username</th>
        <th>Destination Workstation</th>
        <th>Source Workstation</th>
        <th>Source Ip</th>
        <th>Logon Type</th>
      </tr>
    </thead>
    <tbody>
        {% for auth in auth_succ_remote %}
        <tr>
        <td>{{ auth.time|date:"N d, Y, h:i:s a" }}</td>
        <td>{{ auth.user}}</td>
        <td>{{ auth.host}}</td>
        <td>{{ auth.sourcehost }}</td>
        <td>{{ auth.sourceip}}</td>
        <td>{{ auth.logontype}}</td>
        </tr>
        {% endfor %}

    </tbody>
    </table>

        </div>
      </div>
    </div>
    {% endif %}

    {% if auth_failed_remote|length > 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Remote Failed Authentication Events</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">

    <table id="remote_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Time</th>
        <th>Username</th>
        <th>Destination Workstation</th>
        <th>Source Workstation</th>
        <th>Source Ip</th>
        <th>Status</th>
        <th>Sub Status</th>
        <th>Logon Type</th>
      </tr>
    </thead>
    <tbody>
        {% for auth in auth_failed_remote %}
        <tr>
        <td>{{ auth.time|date:"N d, Y, h:i:s a" }}</td>
        <td>{{ auth.user}}</td>
        <td>{{ auth.host}}</td>
        <td>{{ auth.sourcehost }}</td>
        <td>{{ auth.sourceip}}</td>
        <td>{{ auth.status}}</td>
        <td>{{ auth.substatus}}</td>
        <td>{{ auth.logontype}}</td>
        </tr>
        {% endfor %}

    </tbody>
    </table>

        </div>
      </div>
    </div>
    {% endif %}


    {% if local_auths|length > 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Local Authentication Events</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">

    <table id="remote_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Time</th>
        <th>Username</th>
        <th>Destination Workstation</th>
        <th>Source Ip</th>
        <th>Logon Type</th>
      </tr>
    </thead>
    <tbody>
        {% for auth in local_auths %}
        <tr>
        <td>{{ auth.time|date:"N d, Y, h:i:s a" }}</td>
        <td>{{ auth.user}}</td>
        <td>{{ auth.host}}</td>
        <td>{{ auth.sourceip}}</td>
        <td>{{ auth.logontype}}</td>
        </tr>
        {% endfor %}

    </tbody>
    </table>

        </div>
      </div>
    </div>
    {% endif %}

    {% if local_user_auths|length > 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Local User Authentication Events</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">

    <table id="remote_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Time</th>
        <th>Username</th>
        <th>Destination Workstation</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        {% for auth in local_auths %}
        <tr>
        <td>{{ auth.time|date:"N d, Y, h:i:s a" }}</td>
        <td>{{ auth.user}}</td>
        <td>{{ auth.host}}</td>
        <td>{{ auth.status}}</td>

        </tr>
        {% endfor %}

    </tbody>
    </table>

        </div>
      </div>
    </div>
    {% endif %}

</div>

{% endblock %}