{% extends "base.html" %}

{% block title %}{{ user.username}}'s Profile{% endblock %}

{% block content %}
<div class="row" >
    <h3>Details</h3>
    <dl class="dl-horizontal">
      <dt>Task Name</dt>
      <dd>{{ task.taskname}}</dd>
      <dt>Cmdline</dt>
      <dd>{{ task.imagepath}}</dd>
      <dt>Arguments</dt>
      <dd >{{ service.arguments}}</dd>
      <dt>Unique Local Hosts</dt>
      <dd >{{ user.uniquelocal}}</dd>
    </dl>
      <br>
         <div class="panel-group" id="accordion">
        <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Scheduled Task Events</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
  <table id="remote_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Time</th>
        <th>Hostname</th>
      </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
        <td>{{ event.time|date:"N d, Y, h:i:s a" }}</td>
        <td>{{ event.host.hostname}}</td>

        </tr>
        {% endfor %}

    </tbody>
  </table>
        </div>
      </div>
    </div>

</div>

{% endblock %}